/*-- scss:rules --*/

.layout-example {

    figcaption{
        background: $gray-500;
        color: $black;
        padding: 0;
        margin: 0;
    }
    figure {
        border: thick $gray-500 solid;
        padding: 0;
        margin: 0;
    }
    text-align: center;
  }


  